<h1>It's time to have fun!!</h1>

<h2>The <%= @vacation.name %> vacation is going to be held
in <%= @vacation.city %> between <%= @vacation.start_date %>
and <%= @vacation.end_date %> - and you are invited!!!!</h2>
<br>
<h2>To accept the invitation and view the vacation on the
VacayPay app, click on the link below.</h2>

<%= link_to "Accept Invitation", 'https://cryptic-brook-29556.herokuapp.com/users/new' %>
