<h1>Create a New Activity</h1>

<%= form_for [@vacation, @activity], url: users_vacation_activities_path, method: :create do |f| %>
  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :description %><br />
  <%= f.text_area :description %></p>

  <p><%= f.label :price %><br />
  <%= f.text_field :price %></p>

  <p><%= f.label :cutoff_date %><br />
  <%= f.date_field :cutoff_date %></p>

  <p><%= f.label :no_of_days %><br />
  <%= f.number_field :no_of_days %></p>

  <p><%= f.label :type %><br />
  <%= f.select :type, options_for_select([['Fixed Cost', FixedCost], ['Price per Person', PerPersonCost]]) %></p>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <p><%= f.submit "Create Activity" %></p>
<% end %>
