<body class="bg" id="index">
  <% if current_user.vacations.empty? %>
  <section class="form-container">
    <br />
    <h1 class="dark">You do not have any upcoming vacations.</h1>
    <%= button_to "Create a Vacation", new_users_vacation_path, method: :get, class: :btn  %>
    <br />
    </section>
  <% else %>
  <section class="upcoming-vacations">
    <h1>Upcoming Vacations</h1>
    <section class="vacay-container">
      <% current_user.vacations.each do |vacation| %>
        <figure class="vacay-item">
          <div id="vacation-<%= vacation.id %>">

          <% if vacation.owner?(current_user) %>
            <h2><%= link_to vacation.name, owner_vacation_path(vacation) %>:</h2>
          <% else %>
            <h2><%= link_to vacation.name, users_vacation_path(vacation) %>:</h2>
          <% end %>

          <h3><%= vacation.start_date.strftime("%m/%d/%Y") %> - <%= vacation.end_date.strftime("%m/%d/%Y") %></h3>
          <li>Location: <%= vacation.location %></li>
          <li>Hosted By: <%= vacation.host.first_name %></li>
          <li>I Owe: <%= number_to_currency(vacation.calculate_balance(current_user)) %></li>
          <li>I'm Owed: <%= number_to_currency(vacation.calculate_owed_balance(current_user)) %></li>

          <% if vacation.owner?(current_user) %>
            <%= button_to "View Vacation", owner_vacation_path(vacation), method: :get, class: :button %>
          <% else %>
            <%= button_to "View Vacation", users_vacation_path(vacation), method: :get, class: :button %>
          <% end %>
          </div>
        </figure>
      <% end %>
    </section>
  </section>
  <% end %>
</body>
