<body class="bg" id="vacation">
  <div class="vacation-header">
  <figure class="header-grid">
    <h1><%= facade.vacation_name %></h1>
  </figure>
  <figure class="header-grid-right">
    <h2 class="light">I'm Owed: <%= number_to_currency(facade.owed_balance(current_user)) %></h2>
  </figure>
  <figure class="header-grid-right">
    <h2 class="light">I Owe: <%= number_to_currency(facade.outstanding_balance(current_user)) %></h2>
    </figure>
  </div>
  <div class="vacation-container"><section class="subnav">
    <%= link_to "+ Add an Activity", new_vacation_owner_activity_path(facade.vacation) %>
  </section>
    <h2><%= facade.vacation.start_date.strftime("%m/%d/%Y") %> - <%= facade.vacation.end_date.strftime("%m/%d/%Y") %></h2>
    <h4>Hosted By: <%= facade.vacation_host %></h4><br />
    <h4>Location: <%= facade.vacation.location %></h4><br /><Br />
    <h2>My Activities:</h2>
    <section class="vacay-container">
      <% facade.attending_activities(current_user).each do |activity| %>
        <% if activity.vacation_id == facade.vacation_id %>
          <div id="activity-<%= activity.id %>" class="vacay-item">
            <% if activity.user_id == current_user.id %>
              <h2><%= link_to activity.name, vacation_owner_activity_path(facade.vacation_id, activity.id) %></h2>
            <% else %>
              <h2><%= link_to activity.name, users_vacation_activity_path(facade.vacation_id, activity.id) %></h2>
            <% end %>
            <li>Description: <%= activity.description %></li>
            <li>Price Per Person: <%= number_to_currency(facade.user_activity_price(activity, current_user)) %></li>
            <% if current_user.id == activity.user_id %>
              <%= link_to "+ Invite Participants", new_owner_activity_user_activity_path(activity.id) %>
              <br>
              <% if facade.vacation.users.count > activity.user_activities.count %>
                <%= link_to "+ Invite All Vacationers", mass_invite_owner_activity_path(activity_id: activity), method: :patch %>
              <% end %>
            <% else %>
              <% if facade.paid?(activity, current_user) %>
                PAID
              <% else %>
                <%= button_to "Settle Up", vacation_dwollas_transfer_path(activity_id: activity.id, vacation_id: facade.vacation_id), class: :button %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </section>

    <h2>Join Activities:</h2>
    <% facade.non_attending_activities(current_user).each do |activity| %>
      <% if activity.vacation_id == facade.vacation_id %>
        <div id="activity-<%= activity.id %>" class="vacay-item">
          <h2><%= activity.name %></h2>
          <li>Description: <%= activity.description %></li>
          <li>Price Per Person: <%= number_to_currency(activity.price) %></li>
          <%= button_to "Join Activity", users_activity_user_activities_path(activity), class: :button %>
        </div>
      <% end %>
    <% end %>
  </div>
</body>
