
<body class="bg" id="activity">

  <section class="activity-header">
    <section class="header-grid wide">
      <h1><%= link_to facade.send(:vacation).name, owner_vacation_path(facade.send(:vacation)) %>
    </section>
    <section class="header-grid-right wide">
      <h3><%= link_to '+ Add Participants', new_owner_activity_user_activity_path(facade.send(:activity)) %></h3>
    </section>
  </section>
  <div class="activity-container">
    <h2><%= facade.activity_name %></h2>
  <h3><%= facade.send(:activity).description %></h3>
  <h4 class="spacers">Hosted by: <%= facade.activity_host.first_name %></h4>
   | <h4 class="spacers">Price: <%= number_to_currency(facade.send(:activity).price_calculation) %></h4>
   | <h4 class="spacers">Sign Up By: <%= facade.send(:activity).cutoff_date.strftime("%m/%d/%Y") %></h4>
  <br /><br />
  <h2>Attending:</h2>
    <% facade.attendees.each do |participant| %>
    <figure class="attendee">
      <%= participant.first_name %> <%= participant.last_name %> X
    </figure>
    <% end %>

    <% if activity_owner? %>
    <% elsif current_user.user_activities.find_by(activity_id: facade.send(:activity).id) %>
    <h2>Changed Your Mind?</h2>
      <%= button_to 'Opt out of this Activity', users_activity_user_activity_path(facade.send(:activity)), method: :delete, class: :button %></h2>
    <% else %>
    <h2>Want In?</h2>
    <%= button_to 'Sign Up for this Activity!', users_activity_user_activities_path(facade.send(:activity)), class: :button%></h2>
    <% end %>

    </div>
</body>
