<h1><%= link_to facade.send(:vacation).name, owner_vacation_path(facade.send(:vacation)) %></h1>

<br>
<h1>Activity: <%= facade.activity_name %></h1>
<br>
<% if Date.today < facade.send(:activity).cutoff_date %>
  <% if (activity_owner? || vacation_owner?) %>
    <h2><%= link_to '+Add Participants', new_owner_activity_user_activity_path(facade.send(:activity)) %></h2>
    <% if vacation_owner? && current_user.user_activities.find_by(activity_id: facade.send(:activity).id) && !activity_owner? %>
      <h2><%= button_to 'Opt out of this Activity', users_activity_user_activity_path(facade.send(:activity)), method: :delete%></h2>
    <% end %>
  <% elsif current_user.user_activities.find_by(activity_id: facade.send(:activity).id) %>
    <h2><%= button_to 'Opt out of this Activity', users_activity_user_activity_path(facade.send(:activity)), method: :delete%></h2>
  <% else %>
    <h2><%= button_to 'Sign Up for this Activity!', users_activity_user_activities_path(facade.send(:activity))%></h2>
  <% end %>
<% end %>

<br>
<li>Host: <%= facade.activity_host.first_name %></li>
<li>Price: <%= facade.send(:activity).price_calculation %></li>
<li>Number of Attendees: <%= facade.send(:activity).num_attendees %></li>
<li>Description: <%= facade.send(:activity).description %></li>
<li>Cutoff Date: <%= facade.send(:activity).cutoff_date %></li>
<li>Activity Duration (days): <%= facade.send(:activity).no_of_days %></li>
<li>Current Participants:</li>
<br>
  <% facade.attendees.each do |participant| %>
      <li><%= participant.first_name %></li>
      <li><%= participant.email%></li>
      <br>
  <% end %>

<% if (activity_owner? || vacation_owner?) && (Date.today < facade.send(:activity).cutoff_date) %>
  <%= button_to 'Edit Activity', edit_vacation_owner_activity_path(facade.send(:vacation), facade.send(:activity)), method: :get %>
  <%= button_to 'Delete Activity', vacation_owner_activity_path(vacation_id: facade.send(:vacation), activity_id: facade.send(:activity)), method: :delete %>
<% end %>
