<!DOCTYPE html>
<html>
  <head>
    <title>VacayPay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'reset', 'application', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

  </head>

  <nav>
  <section class="logo">
    <%= link_to image_tag('logo.png', :size => "400x109"), root_path %>
    </section>
  <section class="align-right">

    <% if current_user == nil %>
      <%= link_to "Register", new_user_path %>
      <%= link_to "Log In", login_path%>
    <% else %>
      <li class="logged-in">Logged in as <%= current_user.first_name %></li><br />
      <%= link_to "My Vacations", dashboard_path %>
      <%= link_to "+ Create a Vacation" %>
      <%= link_to "Log Out", logout_path, method: :delete %>
      <% if !current_user.dwolla_id %>
        <%= link_to "Connect with Dwolla", new_users_dwolla_path %>
      <% end %>

    <% end %>

  </nav>

  <body>
    <div class="flash-message">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
