<!DOCTYPE html>
<html>
  <head>
    <title>Terrificus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <%= link_to "Register", paypal_register_path %>
    <%= link_to "Log In", paypal_login_path %>
    </nav>

  <body>
    <%= yield %>
  </body>
</html>
