<!DOCTYPE html>
<html>
  <head>
    <title>VacayPay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'reset', 'application', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

    <script src="https://cdn.dwolla.com/1/dwolla.min.js"></script>
  </head>

  <nav>
  <section class="logo">
    <%= link_to image_tag('logo-v2.png', :size => "300x121"), root_path %>
    </section>
  <section class="align-right">

    <% if current_user == nil %>
      <%= link_to "Register", new_user_path %>
      <%= link_to "Log In", login_path%>
    <% else %>
      <li class="logged-in">Logged in as <%= current_user.first_name %></li><br />
      <%= link_to "My Profile", dashboard_path %>
      <%= link_to "My Vacations", vacations_path %>
      <%= link_to "+ Create a Vacation", new_vacation_path %>
      <% if current_user.dwolla_funding_source.nil? && current_user.dwolla_id.nil? %>
      <%=link_to 'Connect To Dwolla', new_users_dwolla_path %>
      <% elsif current_user.dwolla_funding_source.nil? && current_user.dwolla_id != nil %>
      <%=link_to 'Add My Bank Account', new_users_funding_source_path %>
      <% end %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% end %>
  </nav>

  <body>

    <% if !flash.empty? %>
      <div class="flash">
        <% flash.each do |name, message| %>
          <%= message %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
    <%= yield :javascript%>
  </body>
</html>
